<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @client.first_name.capitalize %>,</h1>
    <p>
      Veuillez trouver le devis # <%=@quote.id%> pour <%=@quote.title%> d'un montant total t.t.c de <%= @quote.total.to_d*(1+@quote.tax_rate.to_d) %> euros.   <br>
    </p>
    <p>
      Je vous remercie de l'intérêt que vous portez à notre entreprise et je reste à votre disposition pour toute question. 
    </p>
    <p>Cordialement,</p>
    <p> </p>
    <h4>Francois Oudot</h4><p>92 Henry street</p><p>94114 SF</p><p>0666666666</p><p>email</p>

  </body>
</html>