<header>

      <nav class='navbar navbar-default'>
        <a class='navbar-brand' href='/report'>
          Devis app
        </a>
        <a class='toggle-nav btn pull-left' href='#'>
          <i class='icon-reorder'></i>
        </a>
        <div class='pull-right'>
          <h4><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></h4>
        </div>
      </nav>
          </header>