      
      <div id='main-nav-bg'></div>

      <nav id='main-nav'>

        <div class='navigation'>
          <ul class='nav nav-stacked'>
            <li class='' id='nav_report'>
              <a href='/report'>
                <i class='icon-dashboard'></i>
                <span>Rapport</span>
              </a>
            </li>
            <li class='' id='nav_client'>
              <a href='/clients'>
                <i class='icon-user'></i>
                <span>Clients</span>
              </a>
            </li>
            <li class='' id='nav_quote'>
              <a href='/quotes'>
                <i class='icon-inbox'></i>
                <span>Devis</span>
              </a>
            </li>
            <li class='' id='nav_invoice'>
              <a href='/invoices'>
                <i class='icon-money'></i>
                <span>Factures</span>
              </a>
            </li>
            
          </ul>
        </div>
      </nav>
